<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <app-aside></app-aside>
      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Formaciones</h1>
          <nav>
            <ol class="breadcrumb">
              <i class="bi bi-house"></i>
              <li class="breadcrumb-item" ><a routerLink="/inicio">Home</a></li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
          <div class="row">

            <div class="col-lg-12">
              <div class="container mt-4">
                <div class="input-group mb-3">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">Search</button>
                </div>
            
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#crearModal">CREAR</button>
                <div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="crearModalLabel">Formulario Formacions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Contenido del formulario o lo que desees poner dentro del modal -->
                                <!-- Ejemplo de formulario -->
                                <form [formGroup]="formacionForm" (ngSubmit)="onSubmit()">
                                    <div class="mb-3">
                                        <label for="for_ficha" class="form-label">Ficha</label>
                                        <input type="number" class="form-control" id="for_ficha" formControlName="for_ficha">
                                    </div>
                                    <!-- Agrega más campos según sea necesario -->
                                    <div class="mb-3">
                                        <label for="for_tipo" class="form-label">Tipo de Formacion</label>
                                        <input type="text" class="form-control" id="for_tipo" formControlName="for_tipo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="for_nombre" class="form-label">Nombre de formacion</label>
                                        <input type="text" class="form-control" id="for_nombre" formControlName="for_nombre">
                                    </div>
                                    <div class="mb-3">
                                        <label for="for_estado" class="form-label">Estado</label>
                                        <select class="form-control form-select" id="for_estado" formControlName="for_estado">
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                    </div>
                                    <!-- Puedes agregar más contenido del formulario aquí -->
                                    <div class="mb-small">
                                        <button type="submit" class="btn me-small btn-secondary" data-bs-dismiss="modal">Guardar</button>
                                        <button type="button" class="btn" (click)="reset()">Reset</button>
                                    </div>
                                </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Guardar</button>
                            </div> -->
                        </div>
                    </div>
                </div>    
            
        
                <div class="table-responsive">
                    <table class="table table-bordered table-striped shadow rounded">
                        <thead class="table-primary">
                            <tr>
                                <th>ID</th>
                                <th>Tipo</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formacion of formacions">
                                <td>{{ formacion.for_ficha }}</td>
                                <td>{{ formacion.for_tipo }}</td>
                                <td>{{ formacion.for_nombre }}</td>
                                <td>{{ formacion.for_estado }}</td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#crearModal" (click)="editFormacion(formacion)"><i class="bi bi-pencil-square"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteFormacion(formacion)"><i class="bi bi-trash3-fill"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
            </div>
    
          </div>
        </section>
      </main>
  <app-footer></app-footer>
</body>
</html>