<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <app-navbar></app-navbar>
    <app-aside></app-aside>
    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Cargos</h1>
          <nav>
            <ol class="breadcrumb">
              <i class="bi bi-house"></i>
              <li class="breadcrumb-item" ><a routerLink="/inicio">Home</a></li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
                <div class="container mt-4">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary">Search</button>
                    </div>
                
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#crearModal">CREAR</button>
                    <div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="crearModalLabel">Formulario Cargo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Contenido del formulario o lo que desees poner dentro del modal -->
                                    <!-- Ejemplo de formulario -->
                                    <form [formGroup]="cargoForm" (ngSubmit)="onSubmit()">
                                        <!-- Agrega más campos según sea necesario -->
                                        <div class="mb-3">
                                            <label for="car_nombre" class="form-label">Nombre cargo</label>
                                            <input type="text" class="form-control" id="car_nombre" formControlName="car_nombre" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="car_descripcion" class="form-label">Descripcion</label>
                                            <input type="text" class="form-control" id="car_descripcion" formControlName="car_descripcion">
                                        </div>
                                        <div class="mb-3">
                                            <label for="car_estado" class="form-label">Estado</label>
                                            <select class="form-control form-select" id="car_estado" formControlName="car_estado">
                                                <option value="Activo">Activo</option>
                                                <option value="Inactivo">Inactivo</option>
                                            </select>
                                        </div>
                                        <!-- Puedes agregar más contenido del formulario aquí -->
                                        <div class="mb-small">
                                            <button type="submit" class="btn me-small" data-bs-dismiss="modal">Guardar</button>
                                            <button type="button" class="btn" (click)="reset()">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>    
                
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped shadow rounded">
                            <thead class="table-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Esatdo</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cargo of cargos">
                                    <td>{{ cargo.id }}</td>
                                    <td>{{ cargo.car_nombre }}</td>
                                    <td>{{ cargo.car_descripcion }}</td>
                                    <td>{{ cargo.car_estado }}</td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#crearModal" data-bs-dismiss="modal" (click)="editCargo(cargo)"><i class="bi bi-pencil-square"></i></button>
                                            <button type="button" class="btn btn-danger" (click)="deleteCargo(cargo)"><i class="bi bi-trash3-fill"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </section>
      </main>
      <app-footer></app-footer>
</body>
</html>
                