<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tu Aplicativo Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Barra de Navegación -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <div class="container">
    <img width="50" alt="Angular Logo" src="assets/img/LOGO_SENA.png" class="mr-3">
    <h5 class="navbar-brand">Acceso X Plus</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-success" href="#">Iniciar sesión</a> 
          <button (click)="register()">Register</button> 
          <button (click)="login()">login</button>
          <button (click)="perfil()">Perfil</button>
          <button (click)="consultar()">Consultar</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container text-center my-5">
  <div class="row" id="sistema">
    <div class="col-12">
      <h1 class="text-primary">
        Sistema de acceso
      </h1>

      <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
        <label for="email">Correo:</label>
        <input type="text" id="email" formControlName="email">

        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">

        <button type="submit" [disabled]="formularioRegistro.invalid">Login</button>
      </form> 

      <form (ngSubmit)="onSubmit()">
        <label for="email">Correo:</label>
        <input type="text" id="emailone" [(ngModel)]="formData.emailone" name="emailone">

        <label for="password">Password:</label>
        <input type="password" id="passwordone" [(ngModel)]="formData.passwordone" name="passwordone">

        <button type="submit">Login</button>
      </form>

    </div>
  </div>
</div>  -->

<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logox.jpg" alt="">
                <span class="d-none d-lg-block">Acceso X-Plus</span>
              </a>
            </div>

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Ingrese a su cuenta</h5>
                  <p class="text-center small">Ingrese su correo electrónico y contraseña para iniciar sesión</p>
                </div>

                <form class="row g-3 needs-validation" novalidate (ngSubmit)="onSubmit()">

                  <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input type="email" name="emailone" class="form-control" [(ngModel)]="formData.emailone" id="emailone" required>
                      <div class="invalid-feedback">Ingresa tu email.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="passwordone" class="form-control" [(ngModel)]="formData.passwordone" id="passwordone" required>
                    <div class="invalid-feedback">Ingresa tu contraseña</div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Iniciar sesion</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0"> </p>
                  </div>
                </form>

              </div>
            </div>

            <div class="credits">
              SENA <a href="https://centrodeindustria.blogspot.com/">Centro de insutria y la construccion</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>

</body>
</html>